<div class="container mt-5">
  <div class="row row-cols-1 list-group">
    {{#each records}}
    <div class="col list-group-item">
      <div class="category-icon">
        {{{this.category.icon}}}
      </div>

      <div class="name">
        {{this.name}}
      </div>

      <div class="category-name">
        {{this.category.name}}
      </div>

      <div class="date">
        {{this.date}}
      </div>

      <div class="amount">
        {{this.amount}}
      </div>
      <a href="/records/{{this._id}}/edit">修改</a>
      <form action="/records/{{this._id}}?_method=DELETE" method="POST">
        <button type="submit" onclick="return confirm('確定要刪除這筆紀錄嗎?')">刪除</button>
      </form>
    </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-12">
      <a href="/records/new">新增支出</a>
    </div>
  </div>
</div>